body {
    font-family: 'Lato', sans-serif;
  }
  .carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
  }
  
  .carousel-fade .carousel-inner .active {
    opacity: .5;
  }
  
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  
  .carousel-fade .carousel-control {
    z-index: 2;
  } 
  @media all and (transform-3d), (-webkit-transform-3d) {
      .carousel-fade .carousel-inner > .item.next,
      .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-inner > .item.prev,
      .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-inner > .item.next.left,
      .carousel-fade .carousel-inner > .item.prev.right,
      .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
  } 
  .carousel-caption {
      text-shadow: 0 10px 20px rgba(0,0,0,.9);
    font-size:40px;
    
  }
  .carousel-caption h3 {
    font-size: 70px;
    font-family: 'Lato', sans-serif;
    
  }
      html,
      body,
      .carousel,
      .carousel-inner,
      .carousel-inner .item {
        height: 90%;
    
      } 
      .item:nth-child(1) {
        background: url("./images/giphy.PNG");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
      }
  
      .item:nth-child(2) {
        background: url("./images/zink.PNG");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
      }
  
      .item:nth-child(3) {
        background: url("./images/unit4.PNG");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
      }

      .item:nth-child(4) {
        background: url("./images/nova.PNG");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
      }